
.section {
    width: 100%;
    height: 185px;
}

.title2 {
position: absolute;
width: 100%;
display: flex;
justify-content: center;

background: chocolate;
}

.copy {
    position: absolute;
    margin-top: 30px;
    font-size: 45px;
}

.slideshow-container {
display: flex;
justify-content: center;
}