

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: rgb(168, 94, 94);

}

.logo {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: none;

}

.navbar-links li {
    list-style: none;
    color: #fff;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: saddlebrown;
}


.navbar-links2 ul {
    margin: 0;
    padding: 0;
    display: flex;

}

.navbar-links2 li {
    list-style: none;
    color: #fff;
    padding: 1rem;
}

.navbar-links2 li:hover {
    background-color: saddlebrown;
}

.toggle-botton {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.click {
    position: absolute;
    top: .75rem;
    right: 1rem;
    width: 30px;
    height: 21px;
    background: chocolate;

}

.toggle-botton .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .toggle-botton {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        margin: 0;
        padding: 0;
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
        list-style: none;
        padding: 1rem;
        display: block;
        color: #fff;
    }
       
    .navbar-links li:hover {
        background-color: saddlebrown;
        width: 100%;
    }

 
    .navbar-links2 {
        display: none;
    }

}
