
.profile-container {
display: flex;
justify-content: center;
flex-wrap: wrap;
margin-top: 100px;
position: absolute;
width: 100%;
height: 400px;
}


.content-container {
margin: 10px;
   width: 350px;
   height: 400px;
   background: rgb(211, 176, 176);
}

.profile {
object-fit: cover;
width: 100%;
height: 100%;
}

.title {
margin: 20px;
color: rgb(0, 0, 0);
font-family: 'Alata', sans-serif;
letter-spacing: 0.3px;
font-size: 18px;
font-weight: 700;
}

.text {
    margin: 20px;
    color: #000;
    font-family: 'Alata', sans-serif;
    letter-spacing: 0.3px;
    font-size: 20px;
    }