
.intro-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 686px;
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: rgb(214, 202, 202);
}

.project {
position: relative;
margin: 10px;
width: 300px;
height: 300px;
background-color: rgb(124, 160, 124); 

}

.overlay {
    position: absolute;
    top: 0%;
    width: 300px;
    height: 300px;
    background: black;
    opacity: 30%;
}

.copy-project {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    width: 300px;
    height: 300px;
}


.title5 {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    font-family: 'Alata', sans-serif;
}

.copy {
    position: absolute;
    font-size: 25px; 
    width: 100%;
    text-align: center;
    top: 72%;
    font-family: 'Alata', sans-serif;
}


@media (max-width: 600px) {


    .intro-container {
    margin-top: 1000px;
    }

}
